.auth-logo {
  width: 60%;
  height: 100vh;
  background-image: url("../images/akshit.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(182, 182, 182, 1);
}
.sign-main {
  /* background-image: url("./images/enroll.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
}

.auth-main {
  background-image: linear-gradient(180deg,rgb(10, 10, 245),rgb(128, 128, 230));
  width: 40%;
  height: 100vh;


  text-align: center;
  padding: 20px;
  margin: auto;
  padding-top: 100px;
}

.auth-main2 {
  background-color:rgb(32, 32, 225);
  width: 300px;
  height: 400px;
  text-align: center;
  padding: 20px;

  position: relative;
  top: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.sign-form {
  background: transparent;
  color: white;
  outline: none;
  padding: 5px 5px 10px;
  border-right: none;
  width: 80%;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid white;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;

}
.sign-form::placeholder{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: white;
}

.sign-btn {
  width: 50%;
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: none;
  color: rgb(32, 32, 225);
 
  margin-top: 20px;
  border: 1px solid white;
  font-family: 'Poppins', sans-serif;

  font-weight: bolder;
  transition: all 0.1s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}



.sign-switch {
  border: none;
  color: white;
  background: transparent;
  font-family: 'Poppins', sans-serif;

}

.sign-head {
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 30px;
  text-align: left;
  margin-left:49px;
 
  font-family: 'Poppins', sans-serif;



}

/* headers */