
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:where(.container, form, .input-field, header) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background:white;
  width: 300px;
  border-radius: 12px;
  padding: 20px;
  row-gap: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 200px;
}
.container header {
  height: 65px;
  width: 65px;
  background:#7d2ae8;
  color: #fff;
  font-size: 2.5rem;
  border-radius: 50%;
}
.container h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
}
.back{
  background-color: #7d2ae8;
  height: 100vh;
}
/* form button {
  margin-top: 25px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 9px 0;
  cursor: pointer;
  border-radius: 6px;
  pointer-events: none;
  background: #7d2ae8;
  transition: all 0.2s ease;
}
form button.active {
  background: #7d2ae8;
  pointer-events: auto;
}
form button:hover {
  background: #7d2ae8;
} */

.button-71 {
  background-color: #7d2ae8;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}


/* side dash */

.logosec{

  height: 60px;
  background-color: purple;
  padding: 10px;
}
.sidesec{
  min-height: 100vh ;
  background-color: #7d2ae8;

 
}
.button-dashboard{
  width: 100%;
  padding: 15px;
  background:transparent;
  color: white;
  border: none;
  text-align: left;

}
.side-head{
  color: white;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;

}
.onActive{

}
.nav2{
width: 100%;
  background-color: #3333337b;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.sideLeft{

animation-name: delay;

animation-duration: 1s;
animation-fill-mode: forwards;
}
@keyframes delay {
  0%{
   width: 200px;
  }
  100%{
    width: 40px;
  }
  
}

  
.sidesec2{
  display: none;
}